<div class="container">
<%=link_to "Add a new restaurant", new_restaurant_path, class:"navbar btn btn-secondary"%>

<h1>Here are the list of restaurants</h1>
<ul>
<% @restaurants.each do |restaurant|%>
<li><%=link_to restaurant.name, restaurant_path(restaurant)%>
<% end %>
</ul>
</div>
